<div fxLayout="row">
    <div class="mat-example">
        <div fxLayout="row">
            <mat-card class="example-card" style="width: 250px;height: 50px; background-color: rgb(156, 154, 154);">
                <mat-card class="example-card"
                    style="background-color: red;position: absolute; top: -20px;left: -0.5px; width: 200px; height: 35px;">
                    <h4 style="color: white;">Total Auctioner : {{aCount}} </h4>
                </mat-card>
            </mat-card>

            <mat-card class="example-card" style="width: 250px;height: 50px; background-color: rgb(156, 154, 154);">
                <mat-card class="example-card"
                    style="background-color: rgb(250, 250, 57);position: absolute; top: -20px;left: -0.5px; width: 200px; height: 35px;">
                    <h4 style="color: white;">Total Bidder : {{bCount}}</h4>
                </mat-card>
            </mat-card>

            <mat-card class="example-card" style="width: 250px;height: 50px;background-color: rgb(156, 154, 154);">
                <mat-card class="example-card"
                    style="background-color: green;position: absolute; top: -20px;left: -0.5px; width: 200px; height: 35px;">
                    <h4 style="color: white;">Total Bids Count : {{count}}</h4>
                </mat-card>
            </mat-card>
            <button mat-flat-button
                style="width: 180px;height: 50px; margin-top: 30px;background-color: #005773;color: white;"
                (click)="ShowAdmin()">
                <mat-icon class="example-icon" style="color: white;" aria-hidden="false" aria-label="Admin">
                    account_circle
                </mat-icon><b>Show Profile</b>
            </button>
        </div>
    </div>
</div>


<div fxLayout="row">
    <mat-card *ngIf="showChart == 'chart'" style="width: 500px;">
        <div [chart]="chart"></div>
    </mat-card>
    <mat-card *ngIf="showChart == 'chart'" style="width: 500px;">
        <div [chart]="chart1"></div>
    </mat-card>
</div>
<div class="showAdmin" *ngIf="showChart == 'form'">
    <mat-card>
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.name}}" readonly>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.address}}" readonly>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.email}}" readonly>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.gender}}" readonly>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.mobileNumber}}" readonly>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Input" value="{{userData.username}}" readonly>
            </mat-form-field>
        </div>
        <button mat-raised-button (click)="hideForm()" fxLayoutAlign="end"
            style="background-color: #005773; color: white;">
            Cancel
        </button>
    </mat-card>
</div>