<mat-toolbar style="position: fixed">
    <mat-toolbar-row>
        <button fxShow.xs="false" fxShow.sm="false" fxShow.md="true" fxShow.lg="true" mat-button routerLink="/login"
            routerLinkActive="active">
            <img class="logo-img" src="../../../assets/images/auction-icon.png">
        </button>
        <span class="example-spacer"></span>
        <button fxShow.xs="true" fxShow.sm="true" fxShow.md="true" fxShow.lg="true" mat-button routerLink="/register"
            routerLinkActive="active">
            <mat-icon>add_circle</mat-icon>
            Create Account
        </button>

        <!-- <button fxShow.xs="true" fxShow.sm="true" fxShow.md="true" fxShow.lg="true" mat-button routerLink="/login"
            routerLinkActive="active">
            <mat-icon>lock</mat-icon>
            Login
        </button> -->
    </mat-toolbar-row>
</mat-toolbar>

<div class="container" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title><b>Account Login</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="fgLogin" fxLayout="column" class="box">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" required>
                    <mat-error
                        *ngIf="fgLogin.controls['username'].invalid && (fgLogin.controls['username'].dirty || fgLogin.controls['username'].touched)"
                        class="alert" style="margin: 0px !important;padding: 0px;">
                        <mat-error
                            *ngIf="fgLogin.controls['username'].errors ?fgLogin.controls['username'].errors.required : '' ">
                            Username is required!
                        </mat-error>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'" placeholder="Password"
                        formControlName="password" autocomplete="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error
                        *ngIf="fgLogin.controls['password'].invalid && (fgLogin.controls['password'].dirty || fgLogin.controls['password'].touched)"
                        class="alert" style="margin: 0px !important;padding: 0px;">
                        <mat-error
                            *ngIf="fgLogin.controls['password'].errors ? fgLogin.controls['password'].errors.required : '' ">
                            Password is required!
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40">
                    <button mat-flat-button color="primary" [disabled]="!fgLogin.valid"
                        (click)="submit()">Login</button>
                </div><br />
            </form>
        </mat-card-content>
    </mat-card>
    <!-- <span style="text-align: center;">
    <p>Do You Have Account? <a href="/register">Create Your Account</a></p>
</span> -->
</div>