<div class="container col-6">
    <div class="card">
        <div class="formClass">
            <form [formGroup]="fgLogin" class="formClass was-validated">
                <div class="form-group">
                    <label for="exampleInputuserName">Username</label>
                    <input type="text" class="form-control" id="exampleInputuserName" aria-describedby="emailHelp"
                        placeholder="Enter email" formControlName="username" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        formControlName="password" required>
                </div>
                <br />
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary " [disabled]="!fgLogin.valid"
                        (click)="submit()">Login</button>
                </div>
            </form>
            <span *ngIf="showError">
                <p style="color: red;text-align: center;">{{showError}}</p>
            </span>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <span style="text-align: center;">
        <p>Do You Have Account? <a href="/register">Create Your Account</a></p>
    </span>
</div>