mat-card{
    min-width:450px;
    height: 210px;
    margin: auto;
}
.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.container{
  color: #fff;background-image: url("../../../assets/images/bg1.jpg");  
  width: 100%;
  height: 100%;
  background-size: cover;
}
.logo-img{
  box-sizing: border-box;
  width: 200px;
  height: 60px;
}