<div class="auction-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Auction</span>
            <button mat-button (click)="addProduct()">Add Product</button>
            <button mat-button (click)="showProducts()">My Products</button>
            <span class="example-spacer"></span>
            <span>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>account_circle</mat-icon> Profile
                </button> &nbsp; &nbsp;&nbsp;&nbsp;
                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="logout()">
                    <mat-icon>power_settings_new</mat-icon> Logout
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

    <div *ngIf="showForm">
        <mat-card>

            <form [formGroup]="fgAddProduct" style="padding: 10px;">

                <mat-form-field>
                    <input matInput placeholder="Enter Product name" formControlName="productname" required>
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Textarea" formControlName="productdiscription"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Enter Product Type" formControlName="producttype" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder=" Amount" type="number" class="example-right-align"
                        formControlName="productprice">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40">
                    <button mat-flat-button color="primary" [disabled]="!fgAddProduct.valid" (click)="onSubmit()">
                        Submit</button>
                </div>
                <!-- <div class="form-group">
                <label for="exampleFormControlFile1">Product Image</label>
                <br />
                <div class="col-12">
                    <input type="file" id="filePicker" (change)="handleFileSelect($event)" accept=".jpeg">
                </div>
            </div> -->
            </form>
        </mat-card>
    </div>
    <!-- <app-product *ngIf="!showForm"></app-product> -->
</div>