.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 0.90 1 auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* .card{
    margin-top: 10%;
} */

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .container{
    height: calc(100vh - 64px);
  }
  mat-card{
    min-width: 450px;
    margin: auto;
  }
  .group-heading{
    margin: 2px;
    padding: 5px;
    border-bottom: 1px solid rgb(0, 112, 240);
    background-color: rgb(167, 237, 255);
    border-radius: 5px;
  }
  .example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}