<div class="biddar-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Biddar</span>
            <!-- <button mat-button>Add Product</button> -->
            <button mat-button>My Products</button>
            <span class="example-spacer"></span>
            <span>
                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="editUser()">
                    <mat-icon>account_circle</mat-icon> Profile
                </button> &nbsp; &nbsp;&nbsp;&nbsp;
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>power_settings_new</mat-icon> Logout
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="container" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" style="margin-top: 20px;"
    *ngIf="showForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Edit your Account Details</mat-card-title>
            <!-- <mat-card-subtitle>You must be over 12 years old to register.</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="editBidder" fxLayout="column">
                <h4 class="group-heading">Account Details</h4>
                <mat-form-field>
                    <input matInput placeholder="name" value="{{userData.name}}" formControlName="name" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Select" formControlName="role" value="{{userData.role}}">
                        <mat-option value="auctioner">Auctionar</mat-option>
                        <mat-option value="bidder">Bidder</mat-option>
                        <mat-option value="admin">Admin</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                        formControlName="password" value="{{userData.password}}">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName="username" value="{{userData.username}}"
                        required>
                </mat-form-field>

                <h4 class="group-heading">Personal Details</h4>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email ID" formControlName="email" value="{{userData.email}}" required>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" formControlName="address" value="{{userData.address}}"
                        required>
                </mat-form-field>

                <mat-radio-group formControlName="gender" value="{{userData.gender}}" required>
                    <label>Gender</label><br />
                    <mat-radio-button value="male">Male</mat-radio-button> &nbsp;
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="DOB"
                        value="{{userData.DOB}}">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Telephone" formControlName="mobileNumber"
                        value="{{userData.mobileNumber}}" required>
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center" fxFlex="40">
                    <button mat-flat-button color="primary" [disabled]="!editBidder.valid" (click)="onSubmit()">
                        Edit Details</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row wrap" fxLayoutGap="7px" style="margin: 5px 7px 5px 7px;" *ngIf="!showForm">
    <app-shared-product fxFlex.lg="24" fxFlex.md="24" fxFlex.sm="55" fxFlex.xs="48" *ngFor="let p of product"
        [product]="p" role="bidder">
    </app-shared-product>
</div>