<div class="biddar-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Biddar</span>
            <!-- <button mat-button>Add Product</button> -->
            <button mat-button>My Products</button>
            <span class="example-spacer"></span>
            <span>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>account_circle</mat-icon> Profile
                </button> &nbsp; &nbsp;&nbsp;&nbsp;
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon>power_settings_new</mat-icon> Logout
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>