<mat-card matRipple>
    <mat-card-header>
    </mat-card-header>
    <!-- *ngIf="user.dp==null" -->
    <!-- <img class="circle" width="100%" src="assets/no-image.svg"> -->
    <img class="circle" width="100%" src="http://localhost:3000/images/{{product._id}}.jpeg"
        onError="this.src='assets/no-image.svg';">
    <div>

    </div>
    <div class="footer" style="position:relative;">
        {{product.productname}}
        <div class="top-right">
            {{product.productprice}}
            <span>
                <mat-icon color="primary">videocam</mat-icon>
            </span>
        </div>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
        <mat-card-subtitle>{{product.productdiscription}}</mat-card-subtitle>
    </div>
</mat-card>